/* ===============================
   GRIWEAR - KİLİTLİ ÜRÜN GÖRSELİ
   =============================== */

.gw-product-img{
  height: 260px !important;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

